.hero {
	.container-fluid {
		padding: 0;
	}
	&-slider {
		color: #fff;
		.swiper-slide {
			padding: rem(30) rem(10) rem(56);
			@include bgi(cover, center top, no-repeat);
			padding-right: var(--bs-gutter-x);
			padding-left: var(--bs-gutter-x);
			min-height: rem(470);
		}
		.image {
			max-width: 230px;
			height: auto;
		}
		.title {
			font-weight: 500;
			color: inherit;
			b {
				font-weight: 600;
			}
		}
		.img-cover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			img {
				max-width: 100%;
			}
		}
	}
}
