.wpcf7-form br,
// span.wpcf7-not-valid-tip,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ok,
div.wpcf7 .ajax-loader,
div.wpcf7-response-output {
	display: none !important;
}
span.wpcf7-not-valid-tip {
	color: var(--red);
	display: inline-block;
	margin-bottom: 0.5rem;
}
input.wpcf7-not-valid {
	background: rgba(194, 23, 52, 0.5) !important;
	color: var(--red);
	&::placeholder {
		color: var(--red);
	}
}

.wpcf7-response-output {
	display: none;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: initial;
	}
}
.page-container {
	position: relative;
	width: 100%;
	max-width: 2560px;
	margin: 0 auto;
	// overflow: hidden;
	background-color: #fff;
}

.w-100 {
	width: 100% !important;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: var(--wrapper);
	padding: 0 var(--gap);
	margin: 0 auto;
}

.img-cover {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.contact-form {
	&__title {
		margin-bottom: rem(30);
	}

	&--mailing {
		.contact-form__title {
			margin-bottom: rem(26);
		}
		input {
			width: 100%;
		}
		.button {
			width: 100%;
		}
	}
}

/* home not-home */
.not-home:not(.fake-home) {
	.header {
		&__logo {
			svg {
				fill: var(--cyan);
			}
		}
	}
}

.home,
.fake-home {
	padding-top: var(--header-height);
	.header {
		background-color: #fff;
		&__logo {
			svg {
				fill: var(--cyan);
			}
		}
	}
}

.page-scrolled {
	&.not-home:not(.fake-home) {
		.header {
			background-color: #fff;
			&__nav {
				color: var(--heading);
			}
			&__logo {
				svg {
					fill: var(--cyan);
				}
			}
		}
	}
	.header {
		box-shadow: var(--box-shadow-sm);
	}
}

.swiper-pagination-bullet {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		top: -3px;
		left: -3px;
		border: var(--border-cyan);
		border-radius: 50%;
		transform: scale(0.5);
		transition: transform 0.25s ease;
	}
	&.swiper-pagination-bullet-active {
		&:after {
			transform: scale(1);
		}
	}
}

.swiper-buttons-container {
	position: relative;
	display: flex;
	.swiper-button-next,
	.swiper-button-prev {
		position: static;
		margin: 0;
		padding: 0;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		border-color: transparent;
		background-color: #fff;
		box-shadow: var(--box-shadow-sm);
		transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
		color: var(--cyan);
		svg {
			width: 20px;
			height: auto;
			fill: currentColor;
		}
		&:after {
			display: none;
		}
		&:hover {
			color: #fff;
			background-color: var(--cyan);
			box-shadow: var(--box-shadow-md);
		}
	}
	.swiper-button-prev {
		margin-right: rem(20);
		svg {
			transform: rotate(180deg);
		}
	}
}

.default-slider-head {
	margin-bottom: rem(40);
	.title {
		width: 100%;
		font: var(--h3-font);
		margin-bottom: rem(20);
	}
}

.show-more-btn {
	margin-top: 3.75rem;
	width: 100%;
}

@keyframes loading {
	from {
		background: #d8d8d8;
	}
	to {
		background: #b0b0b0;
	}
}

@keyframes show-img {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.cta-circle {
	animation: 30s rotate360 0s linear infinite reverse;
	fill: var(--cyan);
	position: absolute;
	z-index: 2;
	width: rem(100);
	height: auto;
}

/* formstyler */
.jq-checkbox,
.jq-radio {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-file {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.jq-file input {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: 0;
	font-size: 100px;
	line-height: 1em;
}
.jq-file__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
}
.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}
.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}
.jq-selectbox {
	z-index: 10;
}
.jq-selectbox__select {
	position: relative;
}
.jq-selectbox__select-text {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jq-selectbox__dropdown {
	position: absolute;
}
.jq-selectbox__search input {
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	list-style: none;
	-webkit-overflow-scrolling: touch;
}
.jq-select-multiple ul {
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.jq-number {
	display: inline-block;
}
.jq-number__field input {
	-moz-appearance: textfield;
	text-align: left; /* для Opera Presto */
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0; /* в каких-то браузерах присутствует отступ */
	-webkit-appearance: none;
}

.breadcrumb-wrapper {
	.breadcrumb {
		font: var(--text03);
		letter-spacing: 0.04em;
		display: flex;
		list-style: none;
		margin: 0 -4px;
		li {
			margin: 0 4px 1rem;
			&:not(:last-child) {
				flex-shrink: 0;
			}
		}
		a {
			font: inherit;
			font-weight: 400;
			letter-spacing: inherit;
			&:hover {
				color: inherit;
				text-decoration: underline;
			}
		}
	}
}

.fancybox-button {
	&:hover {
		color: var(--cyan);
	}
}

.before-after {
	padding: rem(60) 0;
	&__title {
		margin-bottom: 0;
	}
	&__text {
		font-weight: 600;
		font-size: 14px;
	}
	&__item {
		margin-bottom: rem(46);
		.img-cover {
			padding-bottom: 64%;
			margin-bottom: rem(10);
			background-position: 50% 50%;
			img {
				transition: opacity 0.15s ease-in-out;
			}
		}
	}
}

html:not(.touch) {
	.before-after__item {
		.img-cover {
			cursor: zoom-in;
			background-position: 50% 50%;
			&:hover {
				img {
					opacity: 0;
				}
			}
		}
	}
}

._after {
	&__text {
		display: flex;
		align-items: center;
		line-height: 1;
		color: var(--cyan);
		font-weight: 600;
		svg {
			margin-right: 5px;
			fill: currentColor;
		}
	}
}

/* about-work */
.about-work {
	padding-bottom: rem(70);
	&__left {
		font-size: 16px;
		margin-top: rem(55);
		padding-bottom: rem(60);
	}
	&__right {
		background-color: var(--lightblue);
		padding: rem(50) rem(10) rem(50) rem(24);
		.title {
			font: var(--h3mob-font);
			margin-bottom: rem(28);
		}
		ul,
		ol {
			margin: 0;
			li:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		margin-bottom: 0;
	}
	&__table {
		margin-top: rem(55);
		font-size: 16px;
		td > *:last-child {
			margin-bottom: 0;
		}
		tr {
			border-top: var(--border-grey);
			border-bottom: var(--border-grey);
			td:first-child {
				font-weight: 600;
			}
		}
	}
}

.cta-google {
	padding: rem(50) 0;
	&__wrapper {
		padding: rem(60) 0;
		background-color: var(--lightblue);
	}
	.title {
		margin-top: rem(24);
		margin-bottom: rem(33);
	}
}

.guarantee {
	padding: rem(50) 0;
	&__title {
		margin-bottom: rem(30);
	}
	hr {
		margin: rem(30) 0;
	}
}

.guarantee--second {
	background-color: var(--grey);
	padding-bottom: rem(30);
	.guarantee__text {
		& > *:not(hr) {
			margin-bottom: rem(10);
		}
	}
	hr {
		margin: rem(10) 0;
	}
}

.descript {
	font: var(--disdcriptor);
}

.partner {
	padding: rem(80) 0;
	&__title {
		margin-bottom: rem(40);
	}
	&__item {
		border: var(--border-grey);
		padding-bottom: 100%;
		&:hover {
			img {
				transform: translate(-50%, -50%) scale(1.02);
			}
		}
		img {
			top: 50%;
			left: 50%;
			object-fit: contain;
			max-width: 75%;
			transform: translate(-50%, -50%);
			transition: transform 0.15s ease;
		}
	}
}
