:root {
	/* sizes */
	--gap: 10px;
	--wrapper: 1200px;
	--header-height: 50px;

	/* colors */
	--cyan: #58c1d6;
	--blue: #344b6b;
	--lightblue: #eef9fb;
	--grey: #f8f8f8;
	--yellow: #f9db74;
	--heading: #363636;
	--text01-color: #5a5a5a;
	--text02-color: #989898;
	--red: #c21734;
	--border-grey: 1px solid rgba(0, 0, 0, 0.15);
	--border-cyan: 1px solid var(--cyan);
	--box-shadow-sm: 0px 0px 15px 5px rgba(0, 0, 0, 0.02);
	--box-shadow-md: 0px 0px 20px 5px rgba(0, 0, 0, 0.03);

	--regular-text: 14px;
	--lineheight: 1.4;
	--userfont: "Gilroy", sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

	/* fonts */
	--text-font: 400 100%/1.57 "Gilroy", sans-serif;
	--header-font: 600 1.5rem/1.22 "Gilroy", sans-serif;
	--h1-font: 600 3.75rem/1.2 "Gilroy", sans-serif;
	--h1mob-font: 600 2rem/1.2 "Gilroy", sans-serif;
	--h2-font: 600 2.5625rem/1.2 "Gilroy", sans-serif;
	--h3-font: 600 1.375rem/normal "Gilroy", sans-serif;
	--h3mob-font: 600 1.125rem/1.22 "Gilroy", sans-serif;
	--text01: 600 1rem/1.3 "Gilroy", sans-serif;
	// --text1: 600 0.875rem/1.3 "Gilroy", sans-serif;
	--text02: 400 0.875rem/1.4 "Gilroy", sans-serif;
	// --text02: 400 0.875rem/1.4 "Gilroy", sans-serif;
	--link: 400 14px/1.21 "Gilroy", sans-serif;
	--button-font: 600 0.9375rem/1.2 "Gilroy", sans-serif;
}

@mixin bgi($size: cover, $position: center, $repeat: no-repeat) {
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}
