@import "_mixins/functions";
// @import "vars";

@media (min-width: 576px) {
	.mobile-nav {
		right: calc((100% - 540px) / 2);
		transform: translateX(calc(100% + (540px / 2)));
	}
	.hero {
		&-slider {
			.swiper-slide {
				padding: rem(40) rem(10) rem(100);
			}
			.image {
				width: rem(145);
			}
			.text {
				max-width: 37ch;
			}
			.button {
				align-self: flex-start;
			}
		}
	}

	.default-slider-head {
		.title {
			width: 60%;
			margin-bottom: 0;
		}
	}

	.show-more-btn {
		max-width: max-content;
	}

	.our-team-list.swiper.our-team-slider {
		overflow: hidden;
		&__wrapper {
			flex-wrap: nowrap;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container,
	.container-md,
	.container-sm {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	:root {
		--header-height: 75px;
		--section-padding: 3.75rem;
	}

	.default-slider-head {
		.title {
			width: 50%;
		}
	}

	/* header */
	.header {
		&__logo {
			width: rem(148);
		}
	}

	.mobile-nav {
		right: calc((100% - 720px) / 2);
		transform: translateX(calc(100% + (720px / 2)));

		&__head .menu-toggle {
			margin-top: -7px;
		}
	}

	/* hero */
	.hero {
		padding-bottom: 0;
		.hero-pagination {
			padding-bottom: rem(15);
		}
	}

	/* intro */
	.intro {
		padding-top: calc(var(--header-height) + 60px);
		&__title {
			margin-bottom: rem(70);
		}
		.breadcrumb-wrapper {
			margin-bottom: rem(70);
		}
	}

	/* benefits */
	.benefits {
		&-slider {
			.swiper-wrapper {
				flex-wrap: wrap;
				width: auto;
			}
			.swiper-wrapper,
			.swiper-wrapper > * {
				--bs-gutter-x: 1.25rem;
			}
		}
		&-pagination {
			display: none;
		}
	}

	/* services */
	.services {
		&-list:not(.services-slider) {
			margin-bottom: rem(-80);
			.services__item-wrap {
				margin-bottom: rem(80);
			}
		}
	}

	/* cta */
	.cta {
		padding-top: rem(160) !important;
		margin-top: rem(80);
		&-slider {
			.cta-pagination {
				bottom: rem(20);
			}
		}
		&:after {
			display: none;
		}
		&-circle {
			top: rem(-95);
			right: calc(50% - 50px);
			fill: var(--cyan);
			position: absolute;
			z-index: 2;
			width: rem(100);
		}
		&-item {
			margin-bottom: rem(87);
			.button {
				width: auto;
			}
		}
		&-item__left {
			padding-top: rem(60);
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 100vw;
				bottom: 0;
				right: 18%;
				z-index: -1;
				// pointer-events: none;
				background-color: var(--grey);
			}
		}
		&-item__right {
			margin-top: rem(-44);
			.img-cover {
				height: 100%;
				img {
					position: absolute;
					bottom: 0;
				}
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 50vw;
				bottom: 0;
				left: 0;
				z-index: -1;
				// pointer-events: none;
				background-color: var(--lightblue);
			}
		}
	}

	/* gallery */
	.gallery {
		.cta-circle {
			width: rem(144);
			right: 1%;
			top: 1%;
		}
		&__wrapper,
		.gallery__item {
			--bs-gutter-x: 20px;
		}
	}

	/* faq */
	.faq {
		&-item {
			.title {
				max-width: 70%;
				margin-left: rem(63);
			}
			&__content {
				margin-left: rem(63);
			}
			.button {
				width: 65px;
				height: 65px;
				&:before {
					width: 15px;
					height: 3px;
				}
				&:after {
					width: 3px;
					height: 15px;
				}
			}
		}
	}

	/* before-after */
	.before-after {
		&__text {
			font-size: 16px;
		}
		&__item {
			margin-bottom: 0;
		}
	}

	/* about-work */
	.about-work {
		&__text,
		&__table {
			font-size: 14px;
		}
	}

	/* reviews-list */
	.reviews-list-grid {
		.reviews-list-grid-sizer,
		.reviews-item {
			--bs-gutter-x: 20px;

			width: calc(50% - (var(--bs-gutter-x) / 2));
		}
		.reviews-list-grid-gutter {
			width: var(--bs-gutter-x);
		}

		.reviews-item {
			float: left;
			margin-bottom: var(--bs-gutter-x);
		}
	}

	/* cta-google */
	.cta-google {
		&__wrapper {
			position: relative;
			padding: rem(80) 0;
			z-index: 1;
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100vw;
				background-color: var(--lightblue);
				z-index: -1;
			}
		}
		&__image {
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				width: rem(143);
				height: rem(143);
			}
		}
		.title {
			margin-top: 0;
		}
	}

	/* archive */
	.archive {
		&-item {
			border-bottom: var(--border-grey);
			padding-bottom: rem(55);
			&:nth-child(even) {
				flex-direction: row-reverse;
				justify-content: flex-start;
			}
			.img-cover {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	/* guarantee */
	.guarantee {
		padding-top: rem(100);
		&:not(.guarantee--second) {
			.guarantee__title {
				margin-top: -3em;
			}
		}
		&__title {
			margin-bottom: rem(40);
		}
	}

	/* doctor-card */
	.doctor-card {
		&__wrapper,
		&__wrapper > * {
			--bs-gutter-y: 10px;
			--bs-gutter-x: 10px;
		}
		&__info {
			padding: rem(45) rem(20);
			background-color: var(--lightblue);
		}
		&__education {
			padding: rem(33) rem(20) rem(18);
			background-color: var(--lightblue);
		}
	}

	.education-list-sizer,
	.education-list li {
		width: 48%;
	}
	.education-list-gutter {
		width: 10px;
	}

	.education-list li {
		float: left;
		margin-bottom: 1rem;
	}

	.usluga-case {
		padding: rem(80) 0;
	}
}

@media (min-width: 992px) {
	.footer__menu > .row {
		height: 100%;
	}
	.mobile-nav {
		right: calc((100% - 960px) / 2);
		transform: translateX(calc(100% + (960px / 2)));
	}

	.default-slider-head {
		margin-bottom: rem(67);
	}

	/* hero */
	.hero {
		&-slider {
			.swiper-slide {
				padding: rem(90) rem(10) rem(120);
				min-height: rem(720);
			}
			.image {
				align-self: flex-end;
				width: rem(230);
			}
			.title {
				margin-top: 0;
				font-size: rem(60);
				margin-bottom: rem(30);
			}
			.text {
				max-width: 44ch;
			}
		}
	}

	/* intro */
	.intro {
		padding-top: calc(var(--header-height) + 35px);
		&__title {
			margin-bottom: rem(80);
		}
		.breadcrumb-wrapper {
			font-size: 1rem;
			margin-bottom: rem(84);
		}
	}

	/* benefits */
	.benefits {
		&-slider {
			.swiper-wrapper,
			.swiper-wrapper > * {
				--bs-gutter-x: 1.875rem;
			}
		}
		&__item {
			.text {
				margin-top: rem(52);
				margin-bottom: 0;
			}
		}
	}

	/* services */
	.services {
		&__item {
			.title {
				font: var(--h3-font);
			}
		}
	}

	/* our-team */
	.our-team {
		&__item {
			margin-bottom: rem(30);
			.title {
				font: var(--h3-font);
			}
			.text {
				margin-bottom: auto;
			}
			.img-cover {
				overflow: hidden;
				img {
					transition: transform 0.15s ease-in-out, opacity transform 0.15s ease-in-out;
				}
			}
			&:hover {
				.our-team__item-description {
					transform: none;
				}
				.img-cover {
					img {
						transform: translateY(5%);
					}
				}
			}
		}
		&__item-description {
			bottom: 0;
			box-shadow: none;
			padding-left: 0;
			max-width: 50%;
		}
	}

	/* register */
	.register {
		background-color: transparent;
		&__left-wrapper {
			position: relative;
			&:after {
				content: "";
				display: block;
				width: 70vw;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				background-color: var(--grey);
			}
			.cta-circle {
				right: rem(-50);
			}
		}
		&__left {
			padding-bottom: rem(58);
			position: relative;
		}
		&__right-wrapper {
			z-index: 1;
			position: relative;
			&:after {
				content: "";
				display: block;
				width: 70vw;
				height: 70%;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: var(--lightblue);
				z-index: -1;
			}
		}
		&__right {
			position: relative;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			height: 100%;
			padding-left: 0;
			.img-cover {
				margin-top: auto;
				padding: 0;
				margin-left: calc(var(--bs-gutter-x) * -2);
				img {
					position: relative;
				}
			}
		}
	}

	/* gallery */
	.gallery {
		.cta-circle {
			right: 4%;
			top: 3%;
		}
	}

	/* faq */
	.faq {
		padding-top: rem(100);
		padding-bottom: rem(140);
		&-item {
			.title {
				max-width: 70%;
				font: var(--h3-font);
			}
			.num {
				margin-top: 6px;
			}
		}
	}

	.doctor-card {
		&__title {
			font-size: rem(41);
		}
	}

	/* usluga */
	.usluga-pluses {
		.title {
			max-width: 52%;
			font: var(--h2-font);
		}
		&__image {
			padding-top: rem(62);
			.img-cover {
				width: rem(253);
				height: rem(253);
			}
			.cta-circle {
				left: rem(185);
				width: rem(130);
			}
		}
		&__list {
			font-size: 1rem;
		}
	}
}

@media (min-width: 1200px) {
	:root {
		--header-height: 100px;
		--section-padding: 4.6875rem;
	}

	.breadcrumb-wrapper .breadcrumb {
		font-size: 1rem;
	}

	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: calc(1140px + var(--bs-gutter-x) * 2);
	}

	.default-slider-head {
		.title {
			font: var(--h2-font);
		}
	}

	.not-home:not(.fake-home) {
		.header {
			background-color: transparent;
			color: #fff;
			&__logo {
				svg {
					fill: #fff;
				}
			}
			&__nav {
				color: #fff;
				a:hover {
					color: #fff;
				}
			}
			&__action {
				color: #fff;
				border-color: #fff;
				background-color: transparent;
				&:hover {
					color: var(--cyan);
					border-color: #fff;
					background-color: #fff;
				}
			}
			&__lang {
				background-color: transparent;
				color: #fff;
				&:hover {
					color: var(--cyan);
				}
			}
			&-lang__wrap .current-lang a:after {
				content: url("../images/chevron-down-white.svg");
			}
		}
	}

	.page-scrolled {
		&.not-home:not(.fake-home) {
			.header {
				&__action {
					color: var(--cyan);
					border-color: var(--cyan);
					background-color: transparent;
					&:hover {
						color: #fff;
						background-color: var(--cyan);
					}
				}
				&__nav {
					a:hover {
						color: var(--cyan);
					}
				}
				&__lang {
					color: var(--cyan);
				}
				&-lang__wrap .current-lang a:after {
					content: url("../images/chevron-down-cyan.svg");
				}
			}
		}
	}

	.header {
		&__logo {
			width: rem(156);
		}
	}

	/* hero */
	.hero {
		&-slider {
			.image {
				margin-right: rem(-30);
			}
		}
		.hero-pagination {
			padding-bottom: rem(40);
		}
	}

	/* intro */
	.intro {
		&__title {
			font: var(--h1-font);
		}
		.row,
		.row > * {
			--bs-gutter-x: 30px;
		}
		.breadcrumb-wrapper {
			.breadcrumb {
				font-size: 1rem;
			}
		}
	}

	/* benefits */
	.benefits {
		padding-top: calc(var(--section-padding) * 1.4);
		&__item {
			.title {
				font: var(--h3-font);
			}
		}
	}

	/* services */
	.services {
		&-list:not(.services-slider) {
			margin-bottom: rem(-80);
			.services__item-wrap {
				margin-bottom: rem(80);
			}
			.services__item {
				.img-cover {
					margin-bottom: 0;
				}
			}
			.row,
			.row > * {
				--bs-gutter-x: 1.875rem;
			}
		}
		&-list {
			.services__item-wrap {
				.services__description {
					width: 50%;
					height: 50%;
					padding: 30px;
					padding-right: 0;
					position: absolute;
					top: 0;
					left: 50%;
					background-color: #fff;
				}
				&:nth-child(4n + 0),
				&:nth-child(4n + 1) {
					.services__description {
						top: 50%;
						// height: calc(50% - 3.8rem);
					}
				}
			}
		}
		&__item {
			.services__description {
				margin-top: 0;
			}
			&:before,
			&:after {
				content: "";
				display: block;
				position: absolute;
				background-color: #fff;
				z-index: 1;
				pointer-events: none;
			}
			&:before {
				width: 100%;
				height: 1px;
				left: 0;
				top: 50%;
			}
			&:after {
				width: 1px;
				height: 100%;
				left: 50%;
				top: 0;
			}
		}
	}

	.reviews {
		padding-top: rem(50);
		&-item {
			background-color: var(--grey);
			padding: rem(40) rem(17) rem(40) rem(25);
		}
		&-item__text {
			flex-direction: row;
			svg {
				flex-shrink: 0;
			}
			.text {
				margin-top: 0;
				margin-left: rem(23);
			}
		}
	}

	.cta {
		&-circle {
			top: rem(-175);
		}
		&-slider {
			.cta-pagination {
				bottom: rem(34);
			}
		}

		&-item {
			margin-bottom: rem(106);
			.title {
				font: var(--h2-font);
				margin-bottom: rem(30);
			}
			.text {
				margin-bottom: rem(60);
				max-width: 45ch;
			}
			&__left {
				&:after {
					right: 0;
				}
			}
			&__right {
				margin-top: rem(-120);
				.img-cover {
					img {
						left: 50%;
						transform: translateX(-50%);
						// position: relative;
						// bottom: 0;
					}
				}
			}
		}
	}

	.register {
		&__left {
			.title {
				font: var(--h2-font);
				margin-bottom: rem(60);
			}
		}
	}

	/* gallery */
	.gallery {
		padding-top: rem(65);
		.cta-circle {
			width: rem(288);
			right: 0;
			top: 0;
		}
		&__wrapper,
		.gallery__item {
			--bs-gutter-x: 30px;
		}
	}

	/* before-after */
	.before-after {
		&__item {
			margin-bottom: rem(46);
		}
		&__item,
		&__item > * {
			--bs-gutter-x: 30px;
		}
		.img-cover {
			margin-bottom: rem(25);
		}
	}

	/* about-work */
	.about-work {
		&__title {
			font: var(--h2-font);
		}
		&__text,
		&__table,
		&__right {
			font-size: 1rem;
		}
		&__text {
			max-width: 90%;
		}
		&__left {
			margin-top: rem(60);
		}
		&__right {
			.title {
				font: var(--h3-font);
			}
		}
		&__table {
			margin-top: rem(60);
			td > * {
				max-width: 80%;
			}
		}
	}

	/* reviews-list */
	.reviews-list-grid {
		.reviews-list-grid-sizer,
		.reviews-item {
			--bs-gutter-x: 40px;
			// width: calc(50% - (var(--bs-gutter-x) / 2));
		}
		.reviews-list-grid-gutter {
			width: calc(var(--bs-gutter-x) * 2);
		}
	}
	.reviews-list:not(.reviews-slider) .reviews-item {
		margin-bottom: rem(40);
	}

	/* cta-google */
	.cta-google {
		padding: rem(90) 0;
		&__wrapper {
			padding: rem(80) 0;
		}
		&__image {
			svg {
				width: rem(240);
				height: rem(240);
			}
		}
		.title {
			font: var(--h2-font);
			margin-bottom: rem(50);
		}
	}

	/* archive */
	.archive {
		&-item {
			padding-bottom: rem(60);
			padding-top: rem(60);
			&:last-child {
				border-bottom: none;
			}
			.title {
				margin-bottom: rem(30);
			}
			.text {
				font-size: 16px;
				padding-bottom: rem(40);
			}
			.archive-item__desc {
				padding-top: rem(40);
				max-width: rem(400);
				margin-right: auto;
			}
			&:nth-child(even) {
				.archive-item__desc {
					margin-left: 7%;
				}
			}
			.img-cover {
				padding-bottom: 50%;
				height: 100%;
			}
		}
	}

	/* guarantee */
	.guarantee {
		font-size: 1rem;
		&__title {
			font: var(--h2-font);
			margin-top: 0;
			margin-bottom: rem(50);
		}

		&__text {
			& > *:not(hr) {
				max-width: rem(460);
			}
		}
	}
	.guarantee--second {
		padding-top: rem(80);
		padding-bottom: rem(60);
	}

	/* partner */
	.partner {
		padding: rem(90) 0;
		&__title {
			font: var(--h2-font);
			margin-bottom: rem(60);
		}
	}

	.doctor-card {
		&__education,
		&__image {
			height: 100%;
		}
		&__info {
			margin-right: calc(var(--bs-gutter-x) * -0.35);
			padding: rem(40);
		}
		&__education {
			margin-left: calc(var(--bs-gutter-x) * -0.35);
			padding: rem(40);
			padding-left: rem(50);
		}

		&__wrapper,
		&__wrapper > * {
			--bs-gutter-y: 0;
			--bs-gutter-x: 30px;
		}
		&__image,
		&__info,
		&__wrapper {
			animation-name: heroFadeUp;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-fill-mode: both;
		}
		&__info {
			animation-delay: 0.2s;
		}
		&__wrapper {
			animation-delay: 0.3s;
		}
	}

	.education-list-sizer,
	.education-list li {
		width: 100%;
	}

	.education-list-gutter {
		display: none;
	}

	.education-list li {
		float: initial;
		margin-bottom: 1rem;
	}

	.doctor-about {
		font-size: 1rem;
		.title {
			font-size: rem(41);
			margin-bottom: rem(20);
		}
	}

	.usluga-case__title {
		font: var(--h2-font);
		margin-bottom: rem(70);
	}
	.usluga-case__item .title {
		font: var(--h3-font);
	}

	.usluga-caption {
		font-size: 1rem;
		padding: rem(80) 0;
		&__title {
			font: var(--h2-font);
			margin-bottom: rem(60);
		}
		img {
			margin: rem(40) 0;
		}
	}
	.contacts {
		
		&__right {
			font-size: 1rem;
		}
		.tel-number {
			font: var(--h2-font);
		}

		&__right {
			&-title {
				font: var(--h2-font);
				margin-bottom: rem(45);
			}
		}
	}
}

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: calc(1200px + var(--bs-gutter-x) * 2);
	}
	/* hero */
	.hero {
		&-slider {
			.image {
				margin-right: rem(-100);
			}
		}
	}
}
