@charset "UTF-8";
/* variables */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  /* sizes */
  --gap: 10px;
  --wrapper: 1200px;
  --header-height: 50px;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-size: 10px;
  --swiper-pagination-bullet-inactive-color: #58c1d6;
  --swiper-pagination-bullet-inactive-opacity: 35%;
  --swiper-theme-color: #58c1d6;
  /* colors */
  --cyan: #58c1d6;
  --blue: #344b6b;
  --lightblue: #eef9fb;
  --grey: #f8f8f8;
  --yellow: #f9db74;
  --heading: #363636;
  --text01-color: #5a5a5a;
  --text02-color: #989898;
  --red: #c21734;
  --border-grey: 1px solid rgba(0, 0, 0, 0.15);
  --border-cyan: 1px solid var(--cyan);
  --box-shadow-sm: 0px 0px 15px 5px rgba(0, 0, 0, 0.02);
  --box-shadow-md: 0px 0px 20px 5px rgba(0, 0, 0, 0.03);
  --regular-text: 14px;
  --lineheight: 1.4;
  --userfont: "Gilroy", sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  /* fonts */
  --text-font: 400 100%/1.57 "Gilroy", sans-serif;
  --header-font: 600 1.5rem/1.22 "Gilroy", sans-serif;
  --h1-font: 600 3.75rem/1.2 "Gilroy", sans-serif;
  --h1mob-font: 600 2rem/1.2 "Gilroy", sans-serif;
  --h2-font: 600 2.5625rem/1.2 "Gilroy", sans-serif;
  --h3-font: 600 1.375rem / normal "Gilroy", sans-serif;
  --h3mob-font: 600 1.125rem/1.22 "Gilroy", sans-serif;
  --text01: 600 1rem/1.3 "Gilroy", sans-serif;
  --text02: 400 0.875rem/1.4 "Gilroy", sans-serif;
  --text03: 600 0.75rem/1.2 "Gilroy", sans-serif;
  --link: 400 14px/1.21 "Gilroy", sans-serif;
  --disdcriptor: 400 0.625rem/1.4 "Montserrat", sans-serif;
  --button-font: 600 0.9375rem/1.2 "Gilroy", sans-serif; }

/* defaults */
@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  src: url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff");
  src: url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"); }

/* BOOTSTRAP SETTINGS SECTION */
/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 0.625rem; }

.row,
.row > * {
  --bs-gutter-x: 1.25rem; }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

input,
textarea {
  outline: none; }

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red; }

input:required:valid,
textarea:required:valid {
  border-color: green; }

html,
body {
  text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  font-size: 0.875rem;
  font-family: var(--userfont);
  font-size: var(--regular-text);
  line-height: var(--lineheight);
  color: var(--text01-color);
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  letter-spacing: 0.02em; }

#page {
  height: 100%;
  overflow: hidden; }

html {
  height: 100%; }

.footer {
  grid-row-start: 2;
  grid-row-end: 3; }

/* USER STYLES */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:focus:not(input):not(textarea):not(select),
:focus:not(input):not(textarea):not(select) {
  outline: none; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

::-moz-selection {
  background: var(--cyan);
  color: #fff; }

::selection {
  background: var(--cyan);
  color: #fff; }

b,
strong {
  font-weight: bold; }

p {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font: var(--header-font);
  margin: 0 0 0.85rem 0;
  color: var(--heading); }
  h1 *,
  h2 *,
  h3 *,
  h4 *,
  h5 *,
  h6 *,
  .h1 *,
  .h2 *,
  .h3 *,
  .h4 *,
  .h5 *,
  .h6 * {
    font: inherit;
    font-size: 100%;
    margin: 0; }

h1,
.h1 {
  font: var(--h1-font);
  letter-spacing: 0.02em; }

h2,
.h2 {
  font: var(--h2-font);
  letter-spacing: 0.02em; }

h3,
.h3 {
  font: var(--h3-font); }

h4,
.h4 {
  font: var(--h4-font); }

h5,
.h5 {
  font: var(--h5-font); }

h6,
.h6 {
  font: var(--h6-font); }

.wpcf7-form br,
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-mail-sent-ok,
div.wpcf7 .ajax-loader,
div.wpcf7-response-output {
  display: none !important; }

span.wpcf7-not-valid-tip {
  color: var(--red);
  display: inline-block;
  margin-bottom: 0.5rem; }

input.wpcf7-not-valid {
  background: rgba(194, 23, 52, 0.5) !important;
  color: var(--red); }
  input.wpcf7-not-valid::-webkit-input-placeholder {
    color: var(--red); }
  input.wpcf7-not-valid::-moz-placeholder {
    color: var(--red); }
  input.wpcf7-not-valid:-ms-input-placeholder {
    color: var(--red); }
  input.wpcf7-not-valid::-ms-input-placeholder {
    color: var(--red); }
  input.wpcf7-not-valid::placeholder {
    color: var(--red); }

.wpcf7-response-output {
  display: none; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: initial; } }

.page-container {
  position: relative;
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  background-color: #fff; }

.wrapper {
  position: relative;
  width: 100%;
  max-width: var(--wrapper);
  padding: 0 var(--gap);
  margin: 0 auto; }

.img-cover {
  position: relative; }
  .img-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.contact-form__title {
  margin-bottom: 1.875rem; }

.contact-form--mailing .contact-form__title {
  margin-bottom: 1.625rem; }

.contact-form--mailing input {
  width: 100%; }

.contact-form--mailing .button {
  width: 100%; }

/* home not-home */
.home {
  padding-top: var(--header-height); }
  .home .header {
    background-color: #fff; }
    .home .header__logo svg {
      fill: var(--cyan); }

.not-home .header__logo svg {
  fill: var(--cyan); }

.page-scrolled.not-home .header {
  background-color: #fff; }
  .page-scrolled.not-home .header__nav {
    color: var(--heading); }
  .page-scrolled.not-home .header__logo svg {
    fill: var(--cyan); }

.page-scrolled .header {
  -webkit-box-shadow: var(--box-shadow-sm);
          box-shadow: var(--box-shadow-sm); }

.swiper-pagination-bullet {
  position: relative; }
  .swiper-pagination-bullet:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -3px;
    left: -3px;
    border: var(--border-cyan);
    border-radius: 50%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
  .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.swiper-buttons-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .swiper-buttons-container .swiper-button-next,
  .swiper-buttons-container .swiper-button-prev {
    position: static;
    margin: 0;
    padding: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    -webkit-box-shadow: var(--box-shadow-sm);
            box-shadow: var(--box-shadow-sm);
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    color: var(--cyan); }
    .swiper-buttons-container .swiper-button-next svg,
    .swiper-buttons-container .swiper-button-prev svg {
      width: 20px;
      height: auto;
      fill: currentColor; }
    .swiper-buttons-container .swiper-button-next:after,
    .swiper-buttons-container .swiper-button-prev:after {
      display: none; }
    .swiper-buttons-container .swiper-button-next:hover,
    .swiper-buttons-container .swiper-button-prev:hover {
      color: #fff;
      background-color: var(--cyan);
      -webkit-box-shadow: var(--box-shadow-md);
              box-shadow: var(--box-shadow-md); }
  .swiper-buttons-container .swiper-button-prev {
    margin-right: 1.25rem; }
    .swiper-buttons-container .swiper-button-prev svg {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.default-slider-head {
  margin-bottom: 2.5rem; }
  .default-slider-head .title {
    width: 100%;
    font: var(--h3-font);
    margin-bottom: 1.25rem; }

.show-more-btn {
  margin-top: 3.75rem;
  width: 100%; }

@-webkit-keyframes loading {
  from {
    background: #d8d8d8; }
  to {
    background: #b0b0b0; } }

@keyframes loading {
  from {
    background: #d8d8d8; }
  to {
    background: #b0b0b0; } }

@-webkit-keyframes show-img {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show-img {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.cta-circle {
  animation: 30s rotate360 0s linear infinite reverse;
  fill: var(--cyan);
  position: absolute;
  z-index: 2;
  width: 6.25rem;
  height: auto; }

/* formstyler */
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em; }

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox {
  z-index: 10; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__search input {
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.jq-number {
  display: inline-block; }

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */ }

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none; }

.breadcrumb-wrapper .breadcrumb {
  font: var(--text03);
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 -4px; }
  .breadcrumb-wrapper .breadcrumb li {
    margin: 0 4px 1rem; }
    .breadcrumb-wrapper .breadcrumb li:not(:last-child) {
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .breadcrumb-wrapper .breadcrumb a {
    font: inherit;
    font-weight: 400;
    letter-spacing: inherit; }

.fancybox-button:hover {
  color: var(--cyan); }

a {
  color: inherit;
  text-decoration: none;
  font: var(--link);
  letter-spacing: -0.2px;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out; }
  a:hover {
    color: var(--cyan); }

.wpcf7-acceptance a,
.d-link {
  color: var(--cyan);
  font: var(--link);
  font-weight: 600;
  letter-spacing: 0px;
  display: inline-block;
  position: relative;
  margin-bottom: 1px; }
  .wpcf7-acceptance a:before, .wpcf7-acceptance a:after,
  .d-link:before,
  .d-link:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: var(--cyan);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);
    -o-transition: transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);
    transition: transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1);
    transition: transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1), -webkit-transform 0.6s cubic-bezier(0.43, 0.195, 0.02, 1); }
  .wpcf7-acceptance a:before,
  .d-link:before {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  .wpcf7-acceptance a:after,
  .d-link:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s; }
  .wpcf7-acceptance a:hover:before,
  .d-link:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s; }
  .wpcf7-acceptance a:hover:after,
  .d-link:hover:after {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s; }

.button,
button {
  background-color: var(--cyan);
  border: 0.0625rem solid var(--cyan);
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  font: var(--button-font);
  letter-spacing: 0.045rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  vertical-align: middle;
  min-width: 15.875rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  .button__icon,
  button__icon {
    width: 1.625rem;
    height: 1.6875rem;
    margin-right: 0.8125rem;
    fill: currentColor; }
  .button:focus, .button:hover,
  button:focus,
  button:hover {
    background-color: #fff;
    color: var(--cyan);
    outline: 0; }
  .button[disabled],
  button[disabled] {
    opacity: 0.5;
    pointer-events: none; }

button {
  min-width: auto; }

.button--outline {
  color: var(--cyan);
  background-color: #fff; }
  .button--outline:hover, .button--outline:focus {
    color: #fff;
    background-color: var(--cyan); }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  font-family: "Gilroy", sans-serif !important; }

.register input:-webkit-autofill,
.register input:-webkit-autofill:hover,
.register input:-webkit-autofill:focus,
.register input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--grey) inset !important;
  font-family: "Gilroy", sans-serif !important; }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button {
  -webkit-appearance: button; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid var(--primary);
  border-radius: 0.4rem;
  width: 100%; }
  input:focus,
  textarea:focus,
  select:focus {
    outline: 0; }

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23000000" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
  padding-right: 3rem; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23ffffff" d="M0,0l6,8l6-8"/></svg>'); }
  select[multiple] {
    background: none;
    height: auto; }

input::-ms-clear {
  display: none; }

textarea {
  resize: none;
  outline: none; }

label,
legend {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem; }

fieldset {
  border-width: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

input,
textarea,
select,
.jqselect {
  border-bottom: var(--border-grey);
  border-radius: 0;
  font: var(--text02);
  letter-spacing: 0.02em;
  padding: 0 0.75rem; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, .jqselect::-webkit-input-placeholder {
    letter-spacing: 0.02em;
    color: var(--text02-color);
    opacity: 1 !important; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, .jqselect::-moz-placeholder {
    letter-spacing: 0.02em;
    color: var(--text02-color);
    opacity: 1 !important; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, .jqselect:-ms-input-placeholder {
    letter-spacing: 0.02em;
    color: var(--text02-color);
    opacity: 1 !important; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, .jqselect::-ms-input-placeholder {
    letter-spacing: 0.02em;
    color: var(--text02-color);
    opacity: 1 !important; }
  input::placeholder,
  textarea::placeholder,
  select::placeholder,
  .jqselect::placeholder {
    letter-spacing: 0.02em;
    color: var(--text02-color);
    opacity: 1 !important; }
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, .jqselect:focus::-webkit-input-placeholder {
    opacity: 0 !important; }
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder, select:focus::-moz-placeholder, .jqselect:focus::-moz-placeholder {
    opacity: 0 !important; }
  input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, .jqselect:focus:-ms-input-placeholder {
    opacity: 0 !important; }
  input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder, select:focus::-ms-input-placeholder, .jqselect:focus::-ms-input-placeholder {
    opacity: 0 !important; }
  input:focus::placeholder,
  textarea:focus::placeholder,
  select:focus::placeholder,
  .jqselect:focus::placeholder {
    opacity: 0 !important; }

input,
select,
.jqselect {
  height: 2.5rem; }

textarea {
  padding: 0.75rem; }

.jq-selectbox {
  width: 100%;
  margin-bottom: 1rem; }
  .jq-selectbox__dropdown {
    width: 100% !important;
    background: #fff;
    -webkit-box-shadow: var(--box-shadow-md);
            box-shadow: var(--box-shadow-md);
    left: 0; }
    .jq-selectbox__dropdown ul {
      margin: 0; }
  .jq-selectbox__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%; }
  .jq-selectbox li {
    padding: 0.5rem 0.75rem;
    margin: 0;
    cursor: pointer; }
    .jq-selectbox li:hover {
      background-color: var(--grey); }

.jq-selectbox__select-text:after {
  content: url("../images/chevron-down-black.svg");
  position: relative;
  margin-left: 2px; }

.wpcf7-acceptance label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400; }

.wpcf7-acceptance a {
  color: var(--cyan);
  font-weight: inherit; }

.wpcf7-list-item-label {
  cursor: pointer; }

.jq-checkbox {
  cursor: pointer; }
  .jq-checkbox__div {
    position: relative;
    width: 0.9375rem;
    height: 0.9375rem;
    border: var(--border-cyan);
    margin-top: 2px;
    margin-right: 0.625rem; }
    .jq-checkbox__div:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/check.svg");
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 12px;
      opacity: 0; }
  .jq-checkbox.checked .jq-checkbox__div:after {
    opacity: 1; }

.register-form form button[type="submit"] {
  width: 100%;
  margin-top: 2.5rem; }

/* equeal width for all table cell */
table {
  border-spacing: 0;
  overflow-x: auto;
  text-align: left;
  width: 100%;
  display: table;
  overflow-x: initial; }

td,
th {
  border-bottom: 0.1rem solid var(--text-color);
  padding: 1.2rem 1.5rem; }
  td:first-child,
  th:first-child {
    padding-left: 0; }
  td:last-child,
  th:last-child {
    padding-right: 0; }

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0; }

dl,
ol,
ul {
  margin: 1rem 0 1rem 1.5rem; }

ol {
  list-style: decimal inside; }

ul {
  list-style: circle inside; }

img {
  display: block;
  font-family: sans-serif;
  font-weight: 300;
  position: relative;
  text-align: center; }

button,
dd,
dt,
li {
  margin-bottom: 1rem; }

fieldset,
input,
select,
textarea {
  margin-bottom: 1rem; }

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1rem; }

/* header */
.header {
  position: fixed;
  width: 100%;
  z-index: 9050;
  max-width: 2560px;
  top: 0;
  background-color: #fff;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out; }
  .header__inner {
    height: var(--header-height); }
  .header__logo {
    display: inline-block;
    width: 6.25rem;
    height: auto; }
    .header__logo svg {
      width: 100%;
      display: block; }
  .header__nav {
    color: var(--heading); }
    .header__nav ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0; }
      .header__nav ul li {
        margin: 0; }
        .header__nav ul li:not(:last-child) {
          margin-right: 1.875rem; }
      .header__nav ul a {
        font-size: 0.875rem;
        line-height: 1.21;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        font-weight: 600; }
  .header__lang {
    padding: 0;
    position: relative;
    width: auto;
    background-color: #fff;
    margin-right: 2.1875rem;
    color: var(--cyan); }
    .header__lang ul {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0;
      text-transform: uppercase;
      font-weight: 600; }
    .header__lang li {
      margin: 0; }
      .header__lang li:hover {
        background-color: var(--lightblue); }
    .header__lang a {
      width: 50px;
      color: inherit;
      display: inline-block;
      padding: 5px 10px 5px 7px;
      font: var(--button-font);
      letter-spacing: 0.045em; }
    .header__lang:hover {
      color: var(--cyan); }
      .header__lang:hover .header-lang__wrap:after {
        opacity: 1;
        visibility: visible; }
      .header__lang:hover .header-lang__all {
        opacity: 1;
        visibility: visible; }
  .header-lang__wrap {
    position: relative;
    z-index: 1; }
    .header-lang__wrap:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 300%;
      top: 0;
      left: 0;
      background-color: #fff;
      -webkit-box-shadow: var(--box-shadow-sm);
              box-shadow: var(--box-shadow-sm);
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
      transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out; }
    .header-lang__wrap .current-lang a {
      pointer-events: none;
      position: relative; }
      .header-lang__wrap .current-lang a:after {
        content: url("../images/chevron-down-cyan.svg");
        position: absolute;
        right: 11px;
        bottom: 6px; }
    .header-lang__wrap .lang-item:not(.current-lang) {
      display: none; }
  .header-lang__all {
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    z-index: 1; }
  .header__action {
    width: auto;
    min-width: 9.25rem;
    padding: 0 1.7rem; }

.menu-toggle {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: #ffffff;
  border-color: transparent;
  margin: 0;
  position: relative;
  margin-right: -10px; }
  .menu-toggle:hover, .menu-toggle:focus-visible {
    -webkit-box-shadow: var(--box-shadow-sm);
            box-shadow: var(--box-shadow-sm); }
  .menu-toggle.menu-toggle--close .menu-toggle-icon span {
    background-color: transparent; }
    .menu-toggle.menu-toggle--close .menu-toggle-icon span:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
    .menu-toggle.menu-toggle--close .menu-toggle-icon span:after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.menu-toggle-icon {
  position: relative; }
  .menu-toggle-icon span,
  .menu-toggle-icon span:before,
  .menu-toggle-icon span:after {
    content: "";
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: all 0.12s;
    -o-transition: all 0.12s;
    transition: all 0.12s;
    width: 25px;
    background: var(--cyan); }
  .menu-toggle-icon span:before {
    position: absolute;
    top: -6px; }
  .menu-toggle-icon span:after {
    position: absolute;
    bottom: -6px; }

/* mobile-nav */
.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 16.5rem;
  height: calc(100vh - 10px);
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow-md);
          box-shadow: var(--box-shadow-md);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
  .mobile-nav:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1; }
  .mobile-nav__container {
    padding: 1.75rem 1.125rem 1.25rem 1.875rem;
    height: 100%;
    overflow-x: auto; }
  .mobile-nav__head {
    max-width: 16.25rem;
    margin-bottom: 1.5625rem;
    width: 100%; }
    .mobile-nav__head .menu-toggle {
      margin-top: -13px; }
  .mobile-nav .header__logo svg {
    fill: var(--cyan); }
  .mobile-nav .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-nav .header__nav ul li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1.875rem; }
  .mobile-nav .header__action {
    max-width: 16.25rem;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.menu--active .mobile-nav {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

/* page blocks */
.hero {
  position: relative;
  padding-bottom: 30px; }
  .hero .hero-pagination {
    bottom: 0; }
  .hero-slider {
    color: #fff; }
    .hero-slider .swiper-slide {
      padding: 1.875rem 0.625rem 3.5rem;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding-right: var(--bs-gutter-x);
      padding-left: var(--bs-gutter-x);
      min-height: 29.375rem;
      height: auto; }
      .hero-slider .swiper-slide .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        height: 100%; }
        .hero-slider .swiper-slide .container > * {
          -ms-flex-negative: 0;
              flex-shrink: 0; }
      .hero-slider .swiper-slide.swiper-slide-active .title,
      .hero-slider .swiper-slide.swiper-slide-active .text,
      .hero-slider .swiper-slide.swiper-slide-active .button {
        -webkit-animation-name: heroFadeLeft;
                animation-name: heroFadeLeft;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both; }
      .hero-slider .swiper-slide.swiper-slide-active .image {
        -webkit-animation-name: heroFadeRight;
                animation-name: heroFadeRight;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-timing-function: ease;
                animation-timing-function: ease;
        -webkit-animation-fill-mode: both;
                animation-fill-mode: both; }
      .hero-slider .swiper-slide.swiper-slide-active .button {
        -webkit-animation-name: heroFadeUp;
                animation-name: heroFadeUp; }
      .hero-slider .swiper-slide.swiper-slide-active .image {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      .hero-slider .swiper-slide.swiper-slide-active .title {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .hero-slider .swiper-slide.swiper-slide-active .text {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .hero-slider .swiper-slide.swiper-slide-active .button {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
    .hero-slider .img-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
      .hero-slider .img-cover img {
        max-width: 100%; }
    .hero-slider .image {
      max-width: 14.375rem;
      height: auto;
      -webkit-transition: 0.25s ease;
      -o-transition: 0.25s ease;
      transition: 0.25s ease;
      margin-bottom: auto; }
    .hero-slider .title {
      font-weight: 500;
      color: inherit;
      margin-top: 2.5rem;
      margin-bottom: 1.25rem;
      font-size: 2rem;
      max-width: 23ch;
      line-height: 1.2; }
      .hero-slider .title b {
        font-weight: 600; }
    .hero-slider .text {
      max-width: 25ch;
      margin-bottom: 2.5rem; }
    .hero-slider .button {
      -ms-flex-item-align: stretch;
          align-self: stretch; }
    .hero-slider .title,
    .hero-slider .text,
    .hero-slider .button,
    .hero-slider .image {
      opacity: 0; }

@-webkit-keyframes heroFadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes heroFadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes heroFadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes heroFadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@-webkit-keyframes heroFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes heroFadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.intro {
  padding-top: calc(var(--header-height) + 85px);
  color: #fff;
  margin-bottom: 7.8125rem;
  background-color: var(--cyan); }
  .intro__title {
    font: var(--h1mob-font);
    margin-bottom: 2.5rem;
    color: inherit;
    -webkit-animation: 0.5s heroFadeLeft 0s ease both;
            animation: 0.5s heroFadeLeft 0s ease both; }
  .intro__image {
    margin-bottom: -5.625rem;
    padding-bottom: 115%;
    min-height: 21.875rem;
    height: calc(100% + 5.625rem);
    -webkit-animation: 0.5s heroFadeUp 0.2s ease both;
            animation: 0.5s heroFadeUp 0.2s ease both; }
  .intro .breadcrumb-wrapper {
    margin-bottom: 1.5rem; }
  .intro .breadcrumb {
    margin: 0;
    -webkit-animation: 0.5s heroFadeLeft 0.1s ease both;
            animation: 0.5s heroFadeLeft 0.1s ease both; }

.benefits {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem; }
  .benefits-slider {
    overflow: visible; }
    .benefits-slider .swiper-slide {
      margin-bottom: var(--bs-gutter-x);
      height: auto;
      min-height: 15.125rem; }
    .benefits-slider .swiper-wrapper {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
    .benefits-slider .swiper-wrapper,
    .benefits-slider .swiper-wrapper > * {
      --bs-gutter-x: 0.625rem; }
  .benefits__item {
    background-color: var(--lightblue);
    padding: 2.5rem 1.875rem 3.125rem;
    height: 100%;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
    transition: -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
    .benefits__item:hover {
      -webkit-box-shadow: var(--box-shadow-sm);
              box-shadow: var(--box-shadow-sm); }
      .benefits__item:hover .image {
        -webkit-transform: rotate(-10deg) scale(1.04);
            -ms-transform: rotate(-10deg) scale(1.04);
                transform: rotate(-10deg) scale(1.04); }
    .benefits__item .title {
      font: var(--h3mob-font);
      margin: 0;
      margin-right: 0.625rem; }
    .benefits__item .image {
      height: 2.5rem;
      width: auto;
      -webkit-transition: -webkit-transform 0.15s ease-in-out;
      transition: -webkit-transform 0.15s ease-in-out;
      -o-transition: transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out;
      transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }
    .benefits__item .text {
      margin-top: 3.25rem;
      margin-bottom: 0; }
  .benefits-pagination {
    position: static; }

.services {
  padding-bottom: 6.25rem; }
  .services__item .img-cover {
    margin-bottom: 1.5625rem;
    padding-bottom: 100%; }
    .services__item .img-cover img {
      -webkit-animation: 0.7s ease 0s infinite alternate loading;
              animation: 0.7s ease 0s infinite alternate loading; }
      .services__item .img-cover img.loaded {
        -webkit-animation: 0.7s ease 0s both show-img;
                animation: 0.7s ease 0s both show-img; }
  .services__item .title {
    font: var(--h3mob-font);
    margin-bottom: 1.1875rem; }

.cta {
  margin-top: 3.125rem;
  margin-bottom: 3.75rem;
  position: relative; }
  .cta .container {
    position: relative; }
  .cta-slider .cta-pagination {
    bottom: -1.875rem; }
  .cta .swiper-slide {
    opacity: 0 !important; }
    .cta .swiper-slide.swiper-slide-active {
      opacity: 1 !important; }
  .cta-circle {
    animation: 30s rotate360 0s linear infinite reverse;
    top: -3.125rem;
    right: var(--bs-gutter-x);
    fill: var(--cyan);
    position: absolute;
    z-index: 2;
    width: 6.25rem; }
  .cta:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-color: var(--lightblue); }
  .cta-item .title {
    font: var(--h3-font);
    margin-bottom: 1.4375rem; }
  .cta-item .text {
    color: var(--text01-color);
    margin-bottom: 3.125rem;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .cta-item .button {
    width: 100%;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .cta-slider .swiper-slide.swiper-slide-active .title,
  .cta-slider .swiper-slide.swiper-slide-active .text,
  .cta-slider .swiper-slide.swiper-slide-active .button {
    -webkit-animation-name: heroFadeLeft;
            animation-name: heroFadeLeft;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
  .cta-list {
    overflow: visible; }
  .cta-item__left {
    padding-top: 5.625rem; }
  .cta-item__right {
    position: relative; }
    .cta-item__right .img-cover {
      padding-top: 1.875rem;
      min-height: 16.875rem; }
      .cta-item__right .img-cover img {
        position: relative;
        max-width: 26.875rem;
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-position: center bottom;
           object-position: center bottom;
        margin: 0 auto; }

.our-team {
  padding: 3.125rem 0; }
  .our-team-list {
    overflow: visible; }
    .our-team-list__wrapper {
      display: block; }
  .our-team__item {
    color: var(--blue);
    display: block;
    position: relative;
    padding-bottom: 93.33333%;
    margin-bottom: 8.125rem;
    letter-spacing: 0.02em; }
    .our-team__item:hover {
      color: inherit; }
      .our-team__item:hover .our-team__item-description {
        -webkit-transform: translateY(-3%);
            -ms-transform: translateY(-3%);
                transform: translateY(-3%); }
    .our-team__item svg {
      fill: currentColor; }
    .our-team__item .title {
      color: inherit;
      font: var(--h3mob-font);
      letter-spacing: inherit; }
    .our-team__item .text {
      margin-bottom: 1.5625rem;
      letter-spacing: inherit; }
    .our-team__item .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font: var(--text03);
      letter-spacing: inherit;
      margin-top: 0.5625rem;
      line-height: 1; }
      .our-team__item .info svg {
        width: 12px;
        margin-right: 0.3125rem; }
    .our-team__item .img-cover {
      background-color: var(--grey);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .our-team__item .img-cover img {
        max-height: calc(100% - 10px);
        -o-object-fit: contain;
           object-fit: contain;
        -o-object-position: right bottom;
           object-position: right bottom;
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        -webkit-transform: translateY(3%);
            -ms-transform: translateY(3%);
                transform: translateY(3%);
        -webkit-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease; }
  .our-team__item-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    min-width: 11.875rem;
    min-height: 11.875rem;
    max-width: 63.33333%;
    padding: 1.0625rem 1.25rem 0.75rem;
    -webkit-box-shadow: var(--box-shadow-md);
            box-shadow: var(--box-shadow-md);
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out; }

@media (max-width: 575px) {
  .our-team-slider .swiper-slide:nth-child(n + 3) {
    display: none; } }

.reviews {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }
  .reviews-item {
    background-color: var(--grey);
    padding: 2.5rem 1.0625rem 2.5rem 1.5625rem; }
  .reviews-item__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reviews-item__text svg {
      fill: var(--cyan); }
    .reviews-item__text .text {
      margin-top: 1.25rem;
      margin-bottom: 1.5rem;
      font: var(--text02);
      letter-spacing: 0.02em; }
  .reviews-item__user .userpic {
    width: 3.75rem;
    border-radius: 50%;
    height: 3.75rem;
    overflow: hidden;
    margin-right: 1.5625rem; }
  .reviews-item__user .rating svg {
    fill: var(--yellow); }
  .reviews-item__user .rating svg:not(:last-child) {
    margin-right: 5px; }
  .reviews-item__user .name {
    margin: 0;
    font: 600 1rem/1.3 "Gilroy", sans-serif;
    letter-spacing: 0.02em;
    color: var(--blue);
    margin: 10px 0 3px; }
  .reviews-item__user .date {
    font: var(--disdcriptor);
    letter-spacing: 0.02em;
    color: var(--text02-color); }

.register {
  margin-top: 6.25rem;
  background-color: var(--grey); }
  .register__left-wrapper {
    position: relative; }
    .register__left-wrapper .cta-circle {
      top: -3.125rem;
      right: calc(var(--bs-gutter-x) * 0.5); }
  .register__left {
    padding-top: 4.375rem;
    position: relative;
    z-index: 1; }
    .register__left .title {
      margin-bottom: 2.3125rem; }
    .register__left form {
      margin: 0; }
  .register__right {
    padding-top: 2.5rem;
    position: relative;
    z-index: 1;
    padding-left: 1.25rem;
    max-width: 18.125rem;
    margin: 0 auto; }
    .register__right .img-cover {
      padding-bottom: 106%; }

.gallery {
  padding-top: 1.5rem;
  padding-bottom: 5.625rem; }
  .gallery .cta-circle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }
  .gallery__wrapper {
    position: relative;
    z-index: 1; }
  .gallery__wrapper,
  .gallery .gallery__item {
    --bs-gutter-x: 10px; }
  .gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    .gallery__item .img-cover {
      width: 100%;
      background-position: 50% 50%;
      overflow: hidden;
      background-size: 200%;
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }
    .gallery__item img {
      position: relative;
      height: auto;
      width: 100%;
      -webkit-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .gallery__item:nth-child(3) {
      width: 100%; }
    .gallery__item:nth-child(2) .img-cover {
      width: 77%;
      margin-top: auto;
      margin-right: auto; }

.gallery__sizer,
.gallery__item {
  width: calc(50% - (var(--bs-gutter-x) / 2)); }

.gallery__gutter {
  width: calc(var(--bs-gutter-x) / 2); }

.gallery__item {
  float: left;
  margin-bottom: var(--bs-gutter-x); }

html:not(.touch) .gallery__item .img-cover:hover img {
  opacity: 0; }

/* footer */
.footer {
  padding-top: 4.375rem;
  padding-bottom: 3.5rem; }
  .footer ul {
    margin: 0;
    list-style-type: none; }
    .footer ul a {
      font: var(--link);
      color: #08080d; }
  .footer a {
    -webkit-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out; }
    .footer a:hover {
      color: var(--cyan); }
  .footer__menu {
    margin-top: 2.375rem; }
    .footer__menu ul li:last-child {
      margin-bottom: 0; }
  .footer__social a {
    -webkit-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out, color 0.15s ease-in-out; }
    .footer__social a:hover {
      opacity: 0.7;
      color: var(--cyan); }
  .footer__social li {
    margin-bottom: 0; }
  .footer__social svg {
    width: 25px;
    height: 25px;
    fill: var(--cyan); }
